@import url("https://fonts.googleapis.com/css?family=Raleway:400,900i");
@import url("https://fonts.googleapis.com/css?family=Merriweather:400,400i");
@import url("https://fonts.googleapis.com/css?family=Oxygen");
@import url("https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i,800,800i");
@import url("https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i");
@import url("https://fonts.googleapis.com/css?family=Acme");
@import url("https://fonts.googleapis.com/css?family=Ropa+Sans");
@import url("https://fonts.googleapis.com/css?family=Patua+One");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i");
@import url("https://fonts.googleapis.com/css?family=Aref+Ruqaa");
@import url("https://fonts.googleapis.com/css?family=Lobster&subset=cyrillic");
@import url("https://fonts.googleapis.com/css?family=Lato:400,400i");
@import url("https://fonts.googleapis.com/css?family=Gloria+Hallelujah");
@import url("https://fonts.googleapis.com/css?family=Squada+One");
@import url("https://fonts.googleapis.com/css?family=Bungee&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Slabo+27px&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i&subset=cyrillic,cyrillic-ext,latin-ext");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i,700,700i&subset=cyrillic,cyrillic-ext,latin-ext");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Amarante");
@import url("https://fonts.googleapis.com/css?family=Anaheim");
@import url("https://fonts.googleapis.com/css?family=Baumans");
@import url("https://fonts.googleapis.com/css?family=Atma");
@import url("https://fonts.googleapis.com/css?family=Fira+Sans");
@import url("https://fonts.googleapis.com/css?family=Exo+2");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&subset=cyrillic,cyrillic-ext,latin-ext");
@font-face { font-family: feuen; src: url("fonts/feuen.ttf"); }

@font-face { font-family: feueon; src: url("fonts/feueon.ttf"); }

@font-face { font-family: techover; src: url("fonts/techover.ttf"); }

@font-face { font-family: Chromia; src: url("fonts/Chromia.otf") format("opentype"); }

@font-face { font-family: Chromia Italic; src: url("fonts/Chromia Italic.otf") format("opentype"); }

@font-face { font-family: Chromia Bold; src: url("fonts/Chromia Bold.otf") format("opentype"); }

@font-face { font-family: Chromia Bold Italic; src: url("fonts/Chromia Bold Italic.otf") format("opentype"); }

@font-face { font-family: Chromia Condensed; src: url("fonts/Chromia Condensed.otf") format("opentype"); }

@font-face { font-family: Chromia Condensed Italic; src: url("fonts/Chromia Condensed Italic.otf") format("opentype"); }

@font-face { font-family: Chromia Condensed Bold; src: url("fonts/Chromia Condensed Bold.otf") format("opentype"); }

@font-face { font-family: Chromia Condensed Bold Italic; src: url("fonts/Chromia Condensed Bold Italic.otf") format("opentype"); }

@font-face { font-family: Chromia Supercap; src: url("fonts/Chromia Supercap.otf") format("opentype"); }

@font-face { font-family: Chromia Supercap Italic; src: url("fonts/Chromia Supercap Italic.otf") format("opentype"); }

@font-face { font-family: Chromia Supercap Bold; src: url("fonts/Chromia Supercap Bold.otf") format("opentype"); }

@font-face { font-family: Chromia Supercap Bold Italic; src: url("fonts/Chromia Supercap Bold Italic.otf") format("opentype"); }

@font-face { font-family: Chromia Supercap Condensed; src: url("fonts/Chromia Supercap Condensed.otf") format("opentype"); }

@font-face { font-family: Chromia Supercap Condensed Italic; src: url("fonts/Chromia Supercap Condensed Italic.otf") format("opentype"); }

@font-face { font-family: Chromia Supercap Condensed Bold; src: url("fonts/Chromia Supercap Condensed Bold.otf") format("opentype"); }

@font-face { font-family: Chromia Supercap Condensed Bold Italic; src: url("Chromia Supercap Condensed Bold Italic.otf") format("opentype"); }

@font-face { font-family: Alpaca Scarlett Demo; src: url("fonts/Alpaca Scarlett Demo.otf") format("opentype"); }

@font-face { font-family: Anita Semi Square; src: url("fonts/Anita Semi Square.ttf"); }

@font-face { font-family: Assassins; src: url("Assassins.ttf"); }

@font-face { font-family: batmfa; src: url("fonts/batmfa.ttf"); }

@font-face { font-family: batmfo; src: url("fonts/batmfo.ttf"); }

@font-face { font-family: fifa; src: url("fonts/fifa.ttf"); }

@font-face { font-family: Happy Time; src: url("fonts/Happy Time.otf") format("opentype"); }

@font-face { font-family: Happy Time; src: url("fonts/Happy Time.otf") format("opentype"); }

@font-face { font-family: HappyTime; src: url("fonts/HappyTime.otf") format("opentype"); }

@font-face { font-family: HappyTimeTwo; src: url("fonts/HappyTimeTwo.otf") format("opentype"); }

@font-face { font-family: HappyTimeThree; src: url("fonts/HappyTimeThree.otf") format("opentype"); }

@font-face { font-family: CaviarDreams; src: url("fonts/CaviarDreams.ttf"); }

@font-face { font-family: CaviarDreams_Bold; src: url("fonts/CaviarDreams_Bold.ttf"); }

@font-face { font-family: CaviarDreams_Italic; src: url("fonts/CaviarDreams_Italic.ttf"); }

@font-face { font-family: CaviarDreams_BoldItalic; src: url("fonts/CaviarDreams_BoldItalic.ttf"); }

body { -webkit-text-size-adjust: 100%; -webkit-font-feature-settings: "kern" 1; -moz-font-feature-settings: "kern" 1; -o-font-feature-settings: "kern" 1; font-feature-settings: "kern" 1; font-kerning: normal; }

/** Reset some basic elements */
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure { margin: 0; padding: 0; }

/** Basic styling */
body { background-color: #eff3f3; }

/** Set `margin-bottom` to maintain vertical rhythm */
h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure { margin-bottom: 15px; }

body { margin-left: 0px; margin-right: 0px; padding-left: 0px; padding-right: 0px; font-family: "Consolas", "Monaco", "Courier New", "Courier", monospace; background-color: #010101; color: #999; }

a { text-decoration: none; color: #0383c9; }

a:hover { text-decoration: underline; color: #f5a2c6; }

ul { list-style-type: none; }

ul li { padding: 1px; }

.constrained { box-sizing: border-box; /* padding-left: 1rem; padding-right: 1rem; */ }

.wrapper { min-width: 220px; max-width: 884px; margin-left: auto; margin-right: auto; /*padding-left:20px; padding-right:20px;*/ padding-left: 13px; padding-right: 13px; }

.logo-blendertube { margin: 8px; position: absolute; line-height: 12px; }

.logo-blendertube > a { color: #000000; font-family: "Squada One", sans-serif; font-weight: 100; font-size: 30px; letter-spacing: .01em; color: #ee9131; -webkit-text-fill-color: #000000; -webkit-text-stroke-width: 1px; }

.logo-blendertube > a:hover { text-decoration: none; }

.logo-blendertube > a > span { color: #F1592A; padding: 4px; margin-top: -3px; display: block; text-align: center; border-radius: 25px; font-family: "Gloria Hallelujah"; font-size: 22px; opacity: 1; text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2); z-index: 1; }

.logo-blendertube-banner { width: 60px; height: 60px; margin: auto auto; background-size: contain; background-repeat: no-repeat; background-image: url("/images/tv-cropped.png"); }

.navAllVideos { grid-area: allvideos; font-size: 18px; line-height: 1.4; }

.navCreators { grid-area: creators; font-size: 18px; line-height: 1.4; }

.navTimelapsed { grid-area: timelapse; font-size: 16px; line-height: .8; }

.navTimelapsed span { white-space: pre-line; }

.navTutorials { grid-area: tutorial; font-size: 18px; line-height: 1.4; }

.nav2D { grid-area: twd; font-size: 18px; line-height: 1.4; }

.nav3D { grid-area: thd; font-size: 18px; line-height: 1.4; }

.navGreasePencil { grid-area: gp; font-size: 16px; line-height: .8; }

.navGreasePencil span { white-space: pre-line; }

.navAbout { grid-area: about; font-size: 18px; line-height: 1.4; }

.navSupport { grid-area: support; font-size: 18px; line-height: 1.4; }

.grid { grid-template: [rowspace-start] ". . . timelapse timelapse timelapse timelapse timelapse timelapse . . . ." 5px [rowspace-end] [row1-start] ". . . timelapse timelapse timelapse timelapse timelapse timelapse . . . ." 5px "allvideos . . timelapse timelapse timelapse timelapse timelapse timelapse . . . about" 5px "allvideos . . . . . . . . . . . about" 1px [row1-end] [rowspace-start] "allvideos . . tutorial tutorial tutorial tutorial tutorial tutorial . . . about" 10px [rowspace-end] [row2-start] ". . . tutorial tutorial tutorial tutorial tutorial tutorial . . . ." 1px "creators . . tutorial tutorial tutorial tutorial tutorial tutorial . . . support" 5px "creators . . . . . . . . . . . support" 2px [row2-end] [rowspace-start] "creators . twd twd . thd thd . gp gp gp . support" 10px [rowspace-end] [row3-start] ". . twd twd . thd thd . gp gp gp . ." 6px [row3-end] [row3-start] ". . twd twd . thd thd . gp gp gp . ." 1px [row3-end]/80px auto 15px 10px 1px 10px 10px 1px 15px 1px 15px auto 80px; display: grid; gap: 5px; /* changed */ /* width: 100%; */ width: 800px; justify-content: center; }

.menu > a { display: block; text-align: center; margin: -5px; padding: 3px 0px 3px 0px; height: 100%; color: rgba(0, 0, 0, 0.8); border-radius: 25px; background-color: rgba(108, 142, 173, 0.8); border: 2px outset #6c8ead; font-family: "Squada One", sans-serif; opacity: .8; text-decoration: none; }

.menu > a:hover { color: black; font-family: "Squada One", sans-serif; text-decoration: none; }

.flex { display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */ display: -moz-box; /* OLD - Firefox 19- */ display: -ms-flexbox; /* Chrome */ display: -webkit-flex; /* IE 10 */ display: flex; /* brings up issues with item having greater width of flexbox, and spaning outside of it. */ /* try nowrap or wrap */ -webkit-flex-flow: row wrap; flex-flow: row wrap; justify-content: center; width: 100%; max-width: 884px; margin-top: -3px; }

.item { width: 100%; padding-bottom: 4px; /*padding: 10px;*/ /* background-color: #E0E5E5; */ }

.title-style { text-align: left; line-height: 20px; display: inline-block; }

div.date-style { display: inline-block; }

div.date-style > span { font-size: 20px; }

div.video-creator { display: inline-block; color: #FFF; }

div.video-creator > span { color: #999; font-size: 20px; }

div.video-creator-page { display: inline-block; font-style: italic; }

div.video-creator-page > span { font-style: normal; color: #999; font-size: 20px; }

li.creator-style { display: block; }

li.creator-style > span { font-size: 20px; }

li.creator-style > span > a { color: #999; text-decoration: none; }

li.creator-style > span > a:hover { color: #999; text-decoration: underline; }

.creatorsColumn { width: 190px; display: table-cell; }

.item-header { text-align: left; }

.yt-item { overflow: hidden; }

.header { position: fixed; top: 0; left: 0; width: 100%; color: #ddd; background: #000000; padding: 0; box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.5); z-index: 200; }

.headerDiv { /* all this flex does is vertically align  */ display: flex; color: #fff; height: 162px; align-items: center; position: relative; }

.headerCell1 { width: 190px; display: table-cell; }

.headerCell2 { width: 800px; background-color: #ee9131; display: table-cell; /* padding: 8px; */ border-radius: 5px 5px 0px 0px; border-right: 4px inset rgba(162, 62, 72, 0.5); border-top-left-radius: 10px 10px; border-top-right-radius: 10px 10px; border-bottom-left-radius: 3px 3px; border-bottom-right-radius: 3px 3px; box-shadow: 0 0 1px #fff inset; border-radius: 5px 5px 0px 0px; background-color: #ee9131; border-right: 4px inset rgba(162, 62, 72, 0.5); border-top-left-radius: 10px 10px; border-top-right-radius: 10px 10px; border-bottom-left-radius: 3px 3px; border-bottom-right-radius: 3px 3px; box-shadow: 0 0 1px #fff inset; }

.headerCell3 { width: auto; display: table-cell; }

.stepDown { height: 162px; }

main { display: block; }

.mainDiv { /* background-color: #511f24; */ /* border-right: 4px inset rgba(162, 62, 72, 0.5); */ }

.yt-table { /* margin:5px; */ table-layout: fixed; vertical-align: middle; border-collapse: collapse; /* background-color: #511f24; */ /* background-color: rgba(162, 62, 72, 0.5); */ box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.5); }

.plate { width: 190px; height: 80%; }

.tooltip { position: relative; display: inline-block; border-bottom: 1px dotted black; /* If you want dots under the hoverable text */ }

/* Tooltip text */
.tooltip .tooltiptext { visibility: hidden; width: 120px; background-color: black; color: #fff; text-align: center; padding: 5px 0; border-radius: 6px; /* Position the tooltip text - see examples below! */ position: absolute; z-index: 1; }

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext { visibility: visible; }

table { width: 100%; }

.yt-cell-thumb { /* background-color: rgba(162, 62, 72, 0.5); */ /* dynamic width */ /* width: 100%; max-width: 800px;     */ /* fixed */ width: 800px; /* padding: 8px;  */ display: table-cell; background-color: #511f24; /* SAM: RECENT */ /* vertical-align: middle; */ }

.yt-cell-thumb a { /* margin-left: auto; margin-right: 0; */ margin: auto auto; display: block; padding: 8px; max-width: 640px; height: 360px; }

.yt-cell-thumb a:link, .yt-cell-thumb a:visited, .yt-cell-thumb a:hover, .yt-cell-thumb a:focus { text-decoration: none; }

.yt-cell-thumb a div { margin: auto; max-width: 100%; max-height: 100%; }

.bodyCell1 { width: 190px; display: table-cell; }

.bodyCell3 { width: 190px; display: table-cell; /* background-color: rgba(162, 62, 72, 0.5); */ }

.this-is-spartaaa { background-color: red; background-position: center; }

.time { pointer-events: none; position: relative; display: block; text-align: center; bottom: 20px; background-color: rgba(192, 192, 192, 0.25); }

/* .this-is-spartaaa { border: 1px solid red; margin: auto; max-width: 100%; max-height: 100%; position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: -1; } .yt-real-thumb { margin: auto; max-width: 100%; max-height: 100%; } */
.yt-cell-me { border-bottom: 2px ridge #9ac67d; background-color: #8cae68; }

.yt-cell-me div { margin: auto; height: 180px; width: 240px; float: left; }

.bullet { display: block; float: right; /*background:rgba(210, 0, 100, .1);*/ color: black; text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.2); /*height:12px; line-height:4px;*/ /*    text-shadow: 3px 2px 0px rgba(180, 180, 180, .22);*/ padding: 2px 0px 1px 0px; margin-top: 5px; font-size: 20px; }

.video-preview { display: inline-block; position: relative; background: #ddd; overflow: hidden; /* This is temporary width and height, these'll be overriden when the source img is loaded.*/ /* If you already know size of a preview frame you can hardcode it here. */ width: 160px; height: 120px; border-radius: 3px; box-shadow: 0 0 6px #bbb; }

.footer { width: 100%; color: #999; font-size: 15px; text-align: center; border-top: 1px solid black; padding: 10px 0 30px; }

@media (min-width: 1200px) { .constrained { max-width: 1200px; width: 100%; margin: 0 auto; } .homepage-menu-item { margin-right: 3rem; } .singleMedia .mediaList-image { height: 28rem; object-fit: cover; } }

@media all and (max-width: 720px) { /* .flex { -webkit-flex-flow: column nowrap; justify-content:center; } .item { align-self:center; width:100%; } */ }

/*# sourceMappingURL=main.css.map */