<div class="footer">© 2018 blendertube.com, Inc. or its affiliates</div>
</div>
<script>
    $( document ).ready(function() {
        var thumbs = new VideoThumbnail();
        thumbs.setThumbnailClassName('this-is-spartaaa');
        thumbs.setThumbnailCountOfSprite(100);
        thumbs.imagePaddingBottomInPercentage(0);
        thumbs.setMouseMoveActive();
        thumbs.displayThumbs();

    });

    $('.yt-cell-thumb > a').on('click', function(e) {
        // var divWithData = $(this).children("div:first");
        // console.log(divWithData.data('jumpto'));
        alert($(this).data('original') + $(this).data('jumpto'));
        e.originalEvent.currentTarget.href = $(this).data('original') + $(this).data('jumpto');
        event.stopPropagation();
    });

    // SAM: revisit. for when <img class="yt-real-thumb"> are loaded beforehand. lazy / selective loading of sprites
    /*
    $( ".yt-real-thumb" ).on({
        mouseenter: function () {
            var index = $( ".yt-real-thumb" ).index( this );
            alert(index);
        },
        mouseleave: function () {
            //stuff to do on mouse leave
        }
    });
    */
</script>
</body>
</html>
