{% capture b1 %}<span class="bullet">⋐</span>{% endcapture %}

{% capture b2 %}<span class="bullet">⌋</span>{% endcapture %}

{% capture b3 %}<span class="bullet">⌝</span>{% endcapture %}

{% capture b4 %}<span class="bullet">⌜</span>{% endcapture %}

{% capture b5 %}<span class="bullet">⌞</span>{% endcapture %}

{% capture b6 %}<span class="bullet">⌟</span>{% endcapture %}

{% capture b7 %}<span class="bullet">⌼</span>{% endcapture %}

{% capture b8 %}<span class="bullet">⋑</span>{% endcapture %}

{% capture b9 %}<span class="bullet">⊇</span>{% endcapture %}

{% capture b10 %}<span class="bullet">⊂</span>{% endcapture %}

{% capture b11 %}<span class="bullet">⋁</span>{% endcapture %}

{% capture b12 %}<span class="bullet">⋂</span>{% endcapture %}

{% capture b13 %}<span class="bullet">⃑</span>{% endcapture %}

{% capture b14 %}<span class="bullet">∷</span>{% endcapture %}

{% capture b15 %}<span class="bullet">⊔</span>{% endcapture %}

{% capture b16 %}<span class="bullet">⋰</span>{% endcapture %}

{% capture b17 %}<span class="bullet">⍠</span>{% endcapture %}

{% capture b18 %}<span class="bullet">⑆</span>{% endcapture %}
