{% for post in site.categories['blog'] %}
{% if post.title == page.title %}
{% unless forloop.last %}
{% assign next = site.categories['blog'][forloop.index] %}
{% capture prevpost %}<a href="{{ next.url }}">← Previous Post</a>{% endcapture %}
{% else %}
{% capture prevpost %}{% endcapture %}
{% endunless %}
{% unless forloop.first %}
{% capture nextpost %}<a href="{{ prev.url }}">Next Post →</a>{% endcapture %}
{% else %}
{% capture nextpost %}{% endcapture %}
{% endunless %}
{% endif %}
{% assign prev = post %}
{% endfor %}

<div class="blogNav" markdown="1">
<span>{{ page.title }}</span>

<p class="alignleft">{{ prevpost }}</p>
<p class="alignright">{{ nextpost }}</p>
<div style="clear: both;"></div>

</div>


