div.temp_video_creator {
    display:inline-block;
    > span {
        font-size: 20px;
        font-family: $alpaca_scarlett_demo;
    }
}

li.creator-style {
    display:block;
    > span {
        font-size: 20px;
        font-family: $alpaca_scarlett_demo;
        > a {
            color: #000000;
            text-decoration: none;
            &:hover {
                color: #000000;
                text-decoration: underline;
            }
        }
    }
}

// SAM: might be a less consistent approach to easily control creators' font style on videos/creators pages
// ul.creators-list {
//     li {
//         display:block;
//         > span {
//             font-family: $alpaca_scarlett_demo;
//             > a {
//                 color: #000000;
//                 text-decoration: none;
//                 &:hover {
//                     color: #000000;
//                     text-decoration: underline;
//                 },
//                 &:link, &:visited, &:focus {
//                     text-decoration: none;
//                 }
//             }
//         }
//     }
// }

// .borncg {
//     > span {
//         @include greenball();
//     }
// }
// .jayanam {
//     > span {
//         @include orangeblack();
//     }
// }
// .blendedplanet {
//     > span {
//         @include earth();
//     }
// }
// .toutapprendre {
//     > span {
//         @include tout();
//     }
// }
// .blendertoday {
//     > span {
//         @include samonandcoffee();
//     }
// }
// .dallasdoan {
//     > span {
//         @include dallasdoan();
//     }
// }
// .blenderguru {
//     > span {
//         @include gururainbow();
//     }
// }

// @each $property, $value in $fonts_map {
//     $i: index(($fonts_map), ($property $value));
//     li.temp_video_creator:nth-child(#{length($fonts_map)}n + #{$i}) {
//         font-family: unquote($value);
//     }
// }
//
// $elements: 89;
// @for $i from 1 to $elements {
//   div:nth-child(#{$i + 1}) {
//      background: rgb($i, $i, $i);
//   }
// }
