.dark-red {
    display:inline-block;
    > span {
        font-size: 20px;
        font-family: 'Roboto Slab', serif;
        background: -moz-linear-gradient(45deg, rgba(77,0,0,1) 0%, rgba(255,0,0,1) 50%, rgba(77,0,0,1) 100%); /* ff3.6+ */
        background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(77,0,0,1)), color-stop(50%, rgba(255,0,0,1)), color-stop(100%, rgba(77,0,0,1))); /* safari4+,chrome */
        background: -webkit-linear-gradient(45deg, rgba(77,0,0,1) 0%, rgba(255,0,0,1) 50%, rgba(77,0,0,1) 100%); /* safari5.1+,chrome10+ */
        background: -o-linear-gradient(45deg, rgba(77,0,0,1) 0%, rgba(255,0,0,1) 50%, rgba(77,0,0,1) 100%); /* opera 11.10+ */
        background: -ms-linear-gradient(45deg, rgba(77,0,0,1) 0%, rgba(255,0,0,1) 50%, rgba(77,0,0,1) 100%); /* ie10+ */
        background: linear-gradient(45deg, rgba(77,0,0,1) 0%, rgba(255,0,0,1) 50%, rgba(77,0,0,1) 100%); /* w3c */
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

// .green-ball {
//     display:inline-block;
//     > span {
//         font-size: 20px;
//         font-family: 'Raleway', sans-serif;
//         background: -moz-radial-gradient(center, ellipse cover, rgba(0,128,0,1) 0%, rgba(0,0,0,1) 100%); /* ff3.6+ */
//         background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0,128,0,1)), color-stop(100%, rgba(0,0,0,1))); /* safari4+,chrome */
//         background:-webkit-radial-gradient(center, ellipse cover, rgba(0,128,0,1) 0%, rgba(0,0,0,1) 100%); /* safari5.1+,chrome10+ */
//         background: -o-radial-gradient(center, ellipse cover, rgba(0,128,0,1) 0%, rgba(0,0,0,1) 100%); /* opera 11.10+ */
//         background: -ms-radial-gradient(center, ellipse cover, rgba(0,128,0,1) 0%, rgba(0,0,0,1) 100%); /* ie10+ */
//         background:radial-gradient(ellipse at center, rgba(0,128,0,1) 0%, rgba(0,0,0,1) 100%); /* w3c */
//         -webkit-background-clip: text;
//         -webkit-text-fill-color: transparent;
//     }
// }

.rainbow-fill {
    display:inline-block;
    > span {
        font-size: 20px;
        font-family: "Arial Black", Gadget, sans-serif;
        background: -webkit-linear-gradient(left, orange , yellow, cyan, violet); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(right, orange, yellow, cyan, violet); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(right, orange, yellow, cyan, violet); /* For Firefox 3.6 to 15 */
        background: linear-gradient(to right, orange , yellow, cyan, violet); /* Standard syntax (must be last) */
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
