body {
    margin-left:0px;
    margin-right:0px;
    padding-left:0px;
    padding-right:0px;
    font-family: $font_family_consolas;

    background-color: rgba(1,1,1,1);

    color: #999;
}

a {
    text-decoration:none;
    color:#0383c9;
}

a:hover {
    text-decoration:underline;
    color: #f5a2c6;
}

ul {
    list-style-type: none;
    li {
        padding: 1px;
    }
}

.constrained {
    box-sizing: border-box;
    /* padding-left: 1rem;
    padding-right: 1rem; */
}

.wrapper {
    min-width:220px;
    max-width: 884px;
    margin-left: auto;
    margin-right: auto;
    /*padding-left:20px;
    padding-right:20px;*/
    padding-left:13px;
    padding-right:13px;
}

.logo-blendertube {
    // margin: -21px auto 0px auto;
    margin:8px;
    // width:330px;
    position:absolute;
    line-height: 12px;
    // background-color: $shadow-blue-platform;
    // border: 2px outset $shadow-blue;
    > a {
        color: #000000;

        // SAM: old style
        // -webkit-text-stroke-width: .1px;
        // -webkit-text-stroke-color: rgba(0, 0, 0, .4);

        font-family: $title-secondary-font-family;
        font-weight: 100;
        font-size: 30px;
        // cursor: default;
        letter-spacing: .01em;
        // -webkit-text-fill-color: #F1592A;
        color: $blender-orange2;
        -webkit-text-fill-color: #000000;
        -webkit-text-stroke-width: 1px;
    // text-shadow:
    //   0px 0px 4px #fff,
    //   0px 1px 0px $blender-orange3,
    //   0px 2px 2px $blender-orange2,
    //   0px 3px 3px $blender-orange1,
    //   0px 4px 4px $blender-orange2,
    //   0px 5px 5px $blender-orange3;
        &:hover {
            text-decoration: none;
        }
        &:hover,
        &:focus {
            // color: $colHighlight;
        }

        > span {
            // background-color: red;
            color: #F1592A;
            // -webkit-text-fill-color: #000000;
            // -webkit-text-stroke-width: 2px;

            // SAM: offset below
            // position:absolute;
            padding:4px;
            margin-top: -3px;
            // margin-left: -320px;
            display: block;
            text-align: center;
            border-radius: 25px;
            // border: 2px outset $shadow-blue;
            font-family: $title-font-family;
            // font-weight: 400;
            font-size: 22px;
            opacity: 1;
            // line-height:8px;
            text-shadow: 1px 1px 0px rgba(0, 0, 0, .2);
            z-index: 1;
        }
    }
}

.logo-blendertube-banner {
    // border:1px solid red;
    width:60px;
    height:60px;
    margin: auto auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('/images/tv-cropped.png');
}

// SAM: Is anything messed up after changing <a> classes? why did I originally have separate classes for links?
.navAllVideos {
    grid-area: allvideos;
    font-size: 18px;
    line-height: 1.4;
}

.navCreators {
    grid-area: creators;
    font-size: 18px;
    line-height: 1.4;
}
.navTimelapsed {
    grid-area: timelapse;
    font-size: 16px;
    line-height: .8;
    span {
        white-space: pre-line;
    }
}
.navTutorials {
    grid-area: tutorial;
    font-size: 18px;
    line-height: 1.4;
}
.nav2D {
    grid-area: twd;
    font-size: 18px;
    line-height: 1.4;
}
.nav3D {
    grid-area: thd;
    font-size: 18px;
    line-height: 1.4;
}
.navGreasePencil {
    grid-area: gp;
    font-size: 16px;
    line-height: .8;
    span {
        white-space: pre-line;
    }
}
.navAbout {
    grid-area: about;
    font-size: 18px;
    line-height: 1.4;
}
.navSupport {
    grid-area: support;
    font-size: 18px;
    line-height: 1.4;
}

.grid {
      // SAM: redo this
      // https://css-tricks.com/snippets/css/complete-guide-grid/#introduction
      // Since grid-template doesn’t reset the implicit grid properties (grid-auto-columns,
      // grid-auto-rows, and grid-auto flow), which is probably what you want to do in most cases,
      // it’s recommended to use the grid property instead of grid-template.
      grid-template: [rowspace-start] ". . . timelapse timelapse timelapse timelapse timelapse timelapse . . . ." 5px [rowspace-end] [row1-start] ". . . timelapse timelapse timelapse timelapse timelapse timelapse . . . ." 5px "allvideos . . timelapse timelapse timelapse timelapse timelapse timelapse . . . about" 5px "allvideos . . . . . . . . . . . about" 1px [row1-end] [rowspace-start] "allvideos . . tutorial tutorial tutorial tutorial tutorial tutorial . . . about" 10px [rowspace-end] [row2-start] ". . . tutorial tutorial tutorial tutorial tutorial tutorial . . . ." 1px "creators . . tutorial tutorial tutorial tutorial tutorial tutorial . . . support" 5px "creators . . . . . . . . . . . support" 2px [row2-end] [rowspace-start] "creators . twd twd . thd thd . gp gp gp . support" 10px [rowspace-end] [row3-start] ". . twd twd . thd thd . gp gp gp . ." 6px [row3-end] [row3-start] ". . twd twd . thd thd . gp gp gp . ." 1px [row3-end]/80px auto 15px 10px 1px 10px 10px 1px 15px 1px 15px auto 80px;
        display: grid;
        gap: 5px;
        /* changed */
        /* width: 100%; */
        width: 800px;
        justify-content: center;
}

.menu {
    > a {
        display:block;
        text-align: center;
        margin:-5px;
        padding:3px 0px 3px 0px;
        // width:100%;
        height:100%;
        color: rgba(0, 0, 0, .8);
        border-radius: 25px;
        background-color: $shadow-blue-platform;
        border: 2px outset $shadow-blue;
        font-family: $title-secondary-font-family;

        // font-weight: bolder;

        // font-size: 28px;
        opacity:.8;
        // text-shadow: 1px 3px 0px rgba(0, 0, 0, .2);

        text-decoration: none;
        &:hover {
            // display: inline-block;
            // text-align: center;
            // width: 60px;
            color: rgba(0, 0, 0, 1);
            font-family: $title-secondary-font-family;
            text-decoration: none;
        }
    }
}

// styling of tags found in index.html
.flex {
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;  /* OLD - Firefox 19- */
    display: -ms-flexbox;  /* Chrome */
    display: -webkit-flex; /* IE 10 */
    display: flex; /* brings up issues with item having greater width of flexbox, and spaning outside of it. */

    /* try nowrap or wrap */
    -webkit-flex-flow: row wrap;
    flex-flow:row wrap;

    justify-content:center;
    width:100%;
    max-width:884px;

    margin-top: -3px;

    // box-shadow: 4px 1px 6px 1px #888888;
}

.item {
    width:100%;
    padding-bottom:4px;

    // border-radius: 5px 5px 5px 5px;
    // outline: rgb(16, 16, 16) none 0px;
    // box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 3px 0px;
    // box-sizing: border-box;

    // SAM: Strange. Unsure about why I had this is, what is it for? border-bottom affects the footer somehow
    // border: 0px none rgb(16, 16, 16);
    // border-right: 4px inset #888888;
    // border-top: 2px;
    // border-bottom: 2px;

    // border-right: 4px groove rgba(0, 0, 0, .1);

    // border-bottom:0px solid rgba(180, 180, 180, .7);
    /*padding: 10px;*/
    /* background-color: #E0E5E5; */
}

.title-style {
    text-align:left;
    line-height: 20px;
    display:inline-block;
    // max-width:480px;

    // SAM: for later
    // font-family:"Consolas", "Monaco", "Courier New", "Courier", monospace;
    // font-weight:bold;
    // color:rgba(255, 255, 255, 1);
    // text-shadow: 2px 2px 5px #626262;
}
div.date-style {
    display:inline-block;
    > span {
        font-size: 20px;
        // font-family: $alpaca_scarlett_demo;
    }
}
div.video-creator {
    display:inline-block;
    color: #FFF;
    > span {
        // #666666
        // #6e6e6e
        color: #999;
        font-size: 20px;
        // font-family: $alpaca_scarlett_demo;
    }
}
div.video-creator-page {
    display:inline-block;
    font-style: italic;
    > span {
        font-style: normal;
        // #666666
        // #6e6e6e
        color: #999;
        font-size: 20px;
        // font-family: $alpaca_scarlett_demo;
    }
}

li.creator-style {
    display:block;
    > span {
        font-size: 20px;
        // font-family: $alpaca_scarlett_demo;
        > a {
            color: #999;
            text-decoration: none;
            &:hover {
                color: #999;
                text-decoration: underline;
            }
        }
    }
}

.creatorsColumn {
    width:190px;
    display: table-cell;
}
.item-header {
    text-align: left;
}

.yt-item {
    // SAM: have enabled while testing
    // border:1px solid green;
    overflow:hidden;

}


.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    // SAM: height here?
    // height: 162px;
    color: #ddd;
    background: #000000;
    padding: 0;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.5);
    z-index: 200;
}

.headerDiv {
    /* all this flex does is vertically align  */
    display: flex;
    color: #fff;
    // SAM: height here?
    height: 162px;
    align-items: center;
    position: relative;
}

.headerCell1 {
    width:190px;
    display: table-cell;
}
.headerCell2 {
    width: 800px;
    background-color: #ee9131;
    display: table-cell;

    /* padding: 8px; */
    border-radius: 5px 5px 0px 0px;
    border-right: 4px inset rgba(162, 62, 72, 0.5);
    border-top-left-radius: 10px 10px;
    border-top-right-radius: 10px 10px;
    border-bottom-left-radius: 3px 3px;
    border-bottom-right-radius: 3px 3px;
    box-shadow: 0 0 1px #fff inset;

    // SAM: TEST THESE
    border-radius: 5px 5px 0px 0px;

    // $smokey-topaz-platform;
    background-color: $blender-orange2;

    // border-top: 2px outset $smokey-topaz-platform;
    // border-right: 4px inset $smokey-topaz-stroke;

    border-right: 4px inset $smokey-topaz-platform-dull;

    // border-bottom: 2px outset white;

    border-top-left-radius: 10px 10px;
    border-top-right-radius: 10px 10px;
    border-bottom-left-radius: 3px 3px;
    border-bottom-right-radius: 3px 3px;

    // border-style: outset;

    box-shadow: 0 0 1px #fff inset;
}
.headerCell3 {
    width: auto;
    display: table-cell;
}

.stepDown {
    height: 162px;
}

main {
    display: block;
}

.mainDiv {
    /* background-color: #511f24; */
    /* border-right: 4px inset rgba(162, 62, 72, 0.5); */
}

.yt-table {
    /* margin:5px; */
    table-layout: fixed;
    vertical-align: middle;
    border-collapse: collapse;
    /* background-color: #511f24; */
    /* background-color: rgba(162, 62, 72, 0.5); */
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.5);
}

.plate {
    width: 190px;
    height: 80%;
    // background-color: $smokey-topaz-stroke;
    // margin-left:auto;
    // margin-right:auto;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

table {
    width: 100%;
}

// done with table-cell https://stackoverflow.com/questions/10968726/how-to-vertically-align-into-the-center-of-the-content-of-a-div-with-defined-wid
// https://stackoverflow.com/questions/4888223/align-image-in-center-and-middle-within-div
// https://stackoverflow.com/questions/396145/how-can-i-vertically-center-a-div-element-for-all-browsers-using-css
// https://css-tricks.com/centering-css-complete-guide/

.yt-cell-thumb {
    // background-color: #511f24;
    // background-color: $smokey-topaz-platform-dull;
    // padding: 8px;

    // SAM: have enabled while testing
    // border:1px solid red;

    /* background-color: rgba(162, 62, 72, 0.5); */

    /* dynamic width */
    /* width: 100%;
    max-width: 800px;     */

    /* fixed */
    width: 800px;

    /* padding: 8px;  */
    display: table-cell;
    background-color: #511f24;
    /* SAM: RECENT */
    /* vertical-align: middle; */

    // border-bottom: 2px ridge rgba(154, 198, 125, 1);
    // SAM: old green
    // background-color: #8cae68;
    // background-color: $smokey-topaz-platform-dull;

    a {
        // SAM: revisit. for when <img class="yt-real-thumb"> are loaded beforehand. lazy / selective loading of sprites

        /* margin-left: auto;
        margin-right: 0; */
        margin: auto auto;
        display: block;
        padding: 8px;
        max-width: 640px;
        height: 360px;

        &:link, &:visited, &:hover, &:focus {
            text-decoration: none;
        }
        div {
            margin: auto;
            max-width: 100%;
            max-height: 100%;
        }
    }
}

.bodyCell1 {
    width:190px;
    display: table-cell;
}

.bodyCell3 {
    width: 190px;
    display: table-cell;
    /* background-color: rgba(162, 62, 72, 0.5); */
}

.this-is-spartaaa {
    background-color: red;
    background-position: center;
}

.time {
    // vertical centering method 1
    pointer-events: none;
    position:relative;
    display:block;
    text-align: center;

    // display:inline-block;
    // left:67%;

    // optional
    bottom: 20px;

    background-color: rgba(192, 192, 192, .25);

    // vertical centering method 2
    // position:absolute;
    // text-align: center;
    // width: 100%;
    // left: 0px;
    // bottom: 0px;
}


// SAM: revisit. for when <img class="yt-real-thumb"> are loaded beforehand. lazy / selective loading of sprites
/*
.this-is-spartaaa {
    border: 1px solid red;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.yt-real-thumb {
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}
*/

.yt-cell-me {
    border-bottom: 2px ridge rgba(154, 198, 125, 1);
    background-color: #8cae68;
    div {
        margin: auto;
        // background-color: #000;
        // display: flex;
        height: 180px;
        width: 240px;
        // width: 10%;
        float: left;
    }
}

.bullet {
    display:block;
    float:right;
    /*background:rgba(210, 0, 100, .1);*/
    color:rgba(0, 0, 0, 1);
    text-shadow: 2px 1px 1px rgba(0, 0, 0, .2);
    /*height:12px;
    line-height:4px;*/
    /*    text-shadow: 3px 2px 0px rgba(180, 180, 180, .22);*/
    padding:2px 0px 1px 0px;
    margin-top:5px;
    font-size:20px;
}

.video-preview {
    display: inline-block;
    position: relative;
    background: #ddd;
    overflow: hidden;
    /* This is temporary width and height, these'll be overriden when the source img is loaded.*/
    /* If you already know size of a preview frame you can hardcode it here. */
    width: 160px;
    height: 120px;
    border-radius: 3px;
    box-shadow: 0 0 6px #bbb;
}

.footer {
    width: 100%;
    color: #999;
    font-size: 15px;
    // font-style: italic;
    // letter-spacing: 1px;
    // word-spacing: 2px;
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, 1);
    padding: 10px 0 30px;
}

@media(min-width:1200px) {
    .constrained {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
    }
    .homepage-menu-item {
        margin-right: 3rem;
    }
    .singleMedia .mediaList-image {
        height: 28rem;
        object-fit: cover;
    }
}

@media all and (max-width: 720px) {
    // carried over from previous website...
    /*
    .flex {
        -webkit-flex-flow: column nowrap;
        justify-content:center;
    }

    .item {
        align-self:center;
        width:100%;
    }
    */
}
