body {
    margin-left:0px;
    margin-right:0px;
    padding-left:0px;
    padding-right:0px;
}

ul {
    list-style-type: none;
    padding: 0px 20px;
    li {
        padding: 1px;
    }
}

.wrapper {
    min-width:220px;
    max-width: 884px;
    margin-left: auto;
    margin-right: auto;
    /*padding-left:20px;
    padding-right:20px;*/
    padding-left:13px;
    padding-right:13px;
}

.header {
    margin:10px 0px 10px 0px;
    min-width:220px;
    max-width:884px;
    border-radius: 5px 5px 5px 5px;

    background-color: $smokey-topaz-platform;
    border: 2px outset $smokey-topaz-stroke;
    // border-top: 1px solid rgba(0, 0, 0, 0.1);
    // border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.logo-blendertube {
    margin: 0px auto 0px auto;
    width:240px;
    line-height: 80px;
    // background-color: $shadow-blue-platform;
    // border: 2px outset $shadow-blue;
    > a {
        -webkit-text-fill-color: $smokey-topaz;
        -webkit-text-stroke-width: .1px;
        -webkit-text-stroke-color: rgba(0, 0, 0, .4);
        font-family: $title-secondary-font-family;
        font-weight: bolder;
        font-size: 80px;
        // cursor: default;
        &:hover {
            text-decoration: none;
        }
        &:hover,
        &:focus {
            // color: $colHighlight;
        }

        > span {
            color: #000000;
            -webkit-text-fill-color: #000000;
            -webkit-text-stroke-width: 0px;
            position:absolute;
            margin-top:34px;
            margin-left:-80px;
            font-family: $title-font-family;
            font-weight: 400;
            font-size: 38px;
            opacity:.8;
            text-shadow: 1px 3px 0px rgba(0, 0, 0, .4);
            z-index: 1;
        }
    }
}

.nav-link {
    margin: 0px auto 2px auto;
    width: 220px;

    // make dynamic variable
    // background-color: $human-skin + (alpha);
    // background-color: $human-skin;

    background-color: $shadow-blue-platform;
    border: 2px outset $shadow-blue;

    text-align:center;
    font-size: 20px;
    > a {
        font-family: $font_family_consolas;
        color: #000000;
        text-decoration: none;
        &:hover {
            // display: inline-block;
            // text-align: center;
            // width: 60px;
            font-family: $font_family_consolas;
            color: #000000;
            text-decoration: underline;
        }
    }
}

// styling of tags found in index.html
.flexContainer {
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;  /* OLD - Firefox 19- */
    display: -ms-flexbox;  /* Chrome */
    display: -webkit-flex; /* IE 10 */
    display: flex; /* brings up issues with flexitem having greater width of flexbox, and spaning outside of it. */

    /* try nowrap or wrap */
    -webkit-flex-flow: row wrap;
    flex-flow:row wrap;

    justify-content:center;
    width:100%;
    max-width:884px;
}

.blogItem {
    overflow:hidden;
    width:100%;
    margin-top: 4px;
    // margin:4px 4px 24px 4px;
    // padding: 3px 0px 0px 0px;

    // border-radius: 5px 5px 5px 5px;
    // outline: rgb(16, 16, 16) none 0px;
    // box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 3px 0px;
    // box-sizing: border-box;

    border: 0px none rgb(16, 16, 16);
    border-bottom:0px solid rgba(180, 180, 180, .7);
    /*padding: 10px;*/
    /* background-color: #E0E5E5; */
}

.item-header {
    padding:4px;
    background-color:rgba(0, 0, 0, .1);
    border-top: 1px solid rgba(0, 0, 0, .1);
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.title-style {
    text-align:left;
    line-height: 20px;
    display:inline-block;
    max-width:480px;

    // SAM: for later
    // font-family:"Consolas", "Monaco", "Courier New", "Courier", monospace;
    // font-weight:bold;
    // color:rgba(255, 255, 255, 1);
    // text-shadow: 2px 2px 5px #626262;
}

.date-style {
    float:right;
    display:block;
    // width:200px;
    text-align:right;
    line-height: 20px;
    height:19px;
}

.yt-item {
    background-color: #dcedFF;
    border-top: 1px solid rgba(0, 0, 0, .1);
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    width: 100%;
    height: 192px;
    padding-top:4px;
}

.yt-table {
    margin: 0px auto 0px auto;
    // width: 97%;
    // use same height as thumb
    height: 180px;
    // border: 1px solid black;
    /* margin:5px; */
    vertical-align: middle;
}

.yt-row {
}

.yt-cell:first-child {
    border-bottom: 2px ridge rgba(154, 198, 125, 1);
    background-color: #8cae68;
    width: 80%;
}

.yt-cell {
    border-bottom: 2px ridge rgba(154, 198, 125, 1);
    background-color: #8cae68;
}

// https://stackoverflow.com/questions/4888223/align-image-in-center-and-middle-within-div
.yt-cell-thumb {
    border-bottom: 2px ridge rgba(154, 198, 125, 1);
    background-color: #8cae68;
    a {
        display: flex;
        float: left;
        margin: auto;
        height: 180px;
        width: 240px;
        &:link, &:visited, &:hover, &:focus {
            text-decoration: none;
        }
        div {
            margin: auto;
            max-width: 100%;
            max-height: 100%;
        }
    }
}

/*.yt-cell-thumb {
    border-bottom: 2px ridge rgba(154, 198, 125, 1);
    background-color: #8cae68;
    div {
        margin: auto;
        display: flex;
        height: 180px;
        width: 240px;
        float: left;
        img {
            margin: auto;
            max-width: 100%;
            max-height: 100%;
        }
    }
}*/

.yt-cell-me {
    border-bottom: 2px ridge rgba(154, 198, 125, 1);
    background-color: #8cae68;
    div {
        margin: auto;
        // background-color: #000;
        // display: flex;
        height: 180px;
        width: 240px;
        // width: 10%;
        float: left;
    }
}

a {
    text-decoration:none;
    color:#0383c9;
}

a:hover {
    text-decoration:underline;
    color: #f5a2c6;
}

.bullet {
    display:block;
    float:right;
    /*background:rgba(210, 0, 100, .1);*/
    color:rgba(0, 0, 0, 1);
    text-shadow: 2px 1px 1px rgba(0, 0, 0, .2);
    /*height:12px;
    line-height:4px;*/
    /*    text-shadow: 3px 2px 0px rgba(180, 180, 180, .22);*/
    padding:2px 0px 1px 0px;
    margin-top:5px;
    font-size:20px;
}

.video-preview {
    display: inline-block;
    position: relative;
    background: #ddd;
    overflow: hidden;
    /* This is temporary width and height, these'll be overriden when the source img is loaded.*/
    /* If you already know size of a preview frame you can hardcode it here. */
    width: 160px;
    height: 120px;
    border-radius: 3px;
    box-shadow: 0 0 6px #bbb;
}

.footer {
    width: 100%;
    color: #999;
    font-size: 15px;
    // font-style: italic;
    // letter-spacing: 1px;
    // word-spacing: 2px;
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, 1);
    padding: 10px 0 30px;
}
@media all and (max-width: 720px) {
    /*
    // carried over from previous website...
    .flexContainer {
        -webkit-flex-flow: column nowrap;
        justify-content:center;
    }

    .blogItem {
        align-self:center;
        width:100%;
    }
    */

    .title-style {
        max-width: 240px;
    }
}
