---
title: Pics and visuals - sizeoverload
layout: allposts
---
{% for post in site.categories.pics %}
    {% if post.category == 'pics' %}
        {% capture position %}{{post.custom_spritePos}}{% endcapture %}
        {% capture width %}{{post.custom_spritePos}}{% endcapture %}
        {% capture frequency %}{{post.custom_spriteFreq}}{% endcapture %}

		{% assign idx = '0' %}

		{% for custom_pics in post.custom_pics %}

        <div class="flexContainer artRow">
            <img class="picsItem" src="/images/morepicsforweb/{{post.custom_pics[forloop.index0]}}.png" alt="{{page.title}}" title="{{page.title}}">
        </div>

		{% endfor %}
    {% endif %}
{% endfor %}
