{% include head.html %}
{% include body.html %}

{% assign creator = page.video_creator | remove: " " | downcase %}

{% capture thumb_file %}{{ "/images/post-content/" | prepend: site.baseurl }}{{page.video_id | append: "-thumb.jpg"}}{% endcapture %}
{% capture timeline_file %}{{ "/images/post-content/" | prepend: site.baseurl }}{{page.video_id | append: "-timeline.jpg"}}{% endcapture %}

<!-- use bt and yt encoded -->
<table class="yt-table">

    <tr class="yt-row">
        <td class="yt-cell">
            <div class="plate">
                <span class="title-style"><a href="{{post.url}}">{{page.video_title}}</a></span>
                <div class="video-creator">created by: <span>{{page.video_creator}}</span></div>
                <div class="date-style">| <span>{{ page.date | date: "%b " }}{{ page.date | date: "%-d" }}{{ page.date | date: " %Y" }}</span></div>
            </div>
            <div class="tooltip">Hover over me
                <span class="tooltiptext">Tooltip text</span>
            </div>
        </td>
        <td class="bodyCell1"></td>
        <td class="yt-cell-thumb {{post.video_id}}">
            <!-- <div class="scrub-box {{post.video_id}}"> -->
                <a href="#" data-original="{{post.video_url}}" data-jumpto="" rel="noopener noreferrer" target="_blank">

                    <!-- SAM: rename stylename: videobox sprite-box scrubber scrubox -->
                    <div class="this-is-spartaaa {{post.video_id}}" data-defaultimgnr="1" data-img="{{timeline_file}}" data-time="{{post.video_length}}" data-jumpto=""></div>
                    <!-- SAM: revisit. for when <img class="yt-real-thumb"> are loaded beforehand. lazy / selective loading of sprites -->
                    <!-- <img class="yt-real-thumb" src="{{thumb_file}}"> -->
                    <span class="time"></span>
                </a>
            <!-- </div> -->
        </td>
        <td class="bodyCell3"></td>
    </tr>
<table>

<!-- SAM: What was this for? -->
{% if page.custom_sub == 'ps-scripts' %}
<a href="{{ page.url }}">{{ page.title }}</a>
{%endif%}

<!-- DISCOURSE COMMENTS -->
<!--
<div id='discourse-comments'></div>

<script type="text/javascript">
  DiscourseEmbed = { discourseUrl: 'https://forum.blendertube.com/',
                     discourseEmbedUrl: 'https://blendertube.com{{ page.url }}',
                     discourseReferrerPolicy: 'strict-origin-when-cross-origin'};

  (function() {
    var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;
    d.src = '{{ site.baseurl }}/js/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
  })();
</script>
-->

{% include footer.html %}
