{% include head.html %}
{% include body.html %}

<div class="flex">
    {% assign creator = page.video_creator | remove: " " | downcase %}

    {% capture thumb_file %}{{ "/images/post-content/" | prepend: site.baseurl }}{{page.video_id | append: "-thumb.jpg"}}{% endcapture %}
    {% capture preview_file %}{{ "/images/post-content/" | prepend: site.baseurl }}{{page.video_id | append: "-preview.jpg"}}{% endcapture %}
    <div class="item"> <!-- eventually use <a style="display:block"> -->
        <!-- <div class="item-header">
            <span class="title-style"><a href="{{page.url}}">{{page.video_title}}</a></span>
            <span class="date-style">{{ page.date | date: "%b " }}{{ page.date | date: "%-d" }}{{ page.date | date: ", %Y" }}</span>
        </div> -->
        <div class="yt-item">
            <!-- <div class="yt-item-thumb"><img src="https://www.iconsdb.com/icons/preview/white/bird-2-xxl.png"></div> -->
            <table class="yt-table">

            <tr class="yt-row">
                <td class="yt-cell"></td>
                <td class="yt-cell-thumb {{post.video_id}}">
                    <!-- <div class="scrub-box {{post.video_id}}"> -->
                        <a href="#" data-original="{{post.video_url}}" data-jumpto="" rel="noopener noreferrer" target="_blank">

                            <!-- videobox sprite-box scrubber -->
                            <div class="this-is-spartaaa {{post.video_id}}" data-defaultimgnr="1" data-img="{{preview_file}}" data-time="{{post.video_length}}" data-jumpto=""></div>
                            <!-- SAM: revisit. for when <img class="yt-real-thumb"> are loaded beforehand. lazy / selective loading of sprites -->
                            <!-- <img class="yt-real-thumb" src="{{thumb_file}}"> -->
                            <span class="time"></span>
                        </a>
                    <!-- </div> -->
                </td>
                <td class="yt-cell">
                    <div class="plate">
                        <span class="title-style"><a href="{{post.url}}">{{page.video_title}}</a></span>
                        <div class="video-creator">created by: <span>{{page.video_creator}}</span></div>
                        <div class="date-style">| <span>{{ page.date | date: "%b " }}{{ page.date | date: "%-d" }}{{ page.date | date: " %Y" }}</span></div>
                    </div>
                    <div class="tooltip">Hover over me
                        <span class="tooltiptext">Tooltip text</span>
                    </div>
                </td>
                <td class="yt-cell"></td>
            </tr>
            </table>
        </div>
        <!-- SAM: What was this for? -->
        {% if page.custom_sub == 'ps-scripts' %}
        <a href="{{ page.url }}">{{ page.title }}</a>
        {%endif%}

        <p class="post-meta"></p>

    </div>
</div>

<div id='discourse-comments'></div>

<script type="text/javascript">
  DiscourseEmbed = { discourseUrl: 'https://forum.blendertube.com/',
                     discourseEmbedUrl: 'https://blendertube.com{{ page.url }}',
                     discourseReferrerPolicy: 'strict-origin-when-cross-origin'};

  (function() {
    var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;
    d.src = '{{ site.baseurl }}/js/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
  })();
</script>

{% include footer.html %}
