---
title: Pics and visuals - sizeoverload
layout: allposts
---
{% assign my_array = "" | split: ',' %}
{% for post in site.categories['blog'] %}
    {% assign my_array = my_array | push: post.video_creator %}
{% endfor %}

{% assign my_array = my_array | uniq %}
{% assign my_array_sorted = "" | split: ',' %}
{% for i in my_array %}

        {% capture creator %}{{my_array[forloop.index]}}{% endcapture %}
        {% assign is_empty = false %}
        {% if creator == "" %}
            {% assign is_empty = true %}
        {%endif%}
        {% if is_empty == false %}
            {% assign my_array_sorted = my_array_sorted | push: creator %}
        {%endif%}
{% endfor %}

<br><br>
{% assign new = my_array_sorted | downcase  %}
{% assign new = new | split: ',' | sort%}
<!-- wtf -->
{% for i in new %}
    {{i}}
{% endfor %}
