---
title: Pics and visuals - sizeoverload
layout: allposts
video_creator: "Zulubo Productions"
---
<h3>{{page.video_creator}}</h3>
<div class="flexContainer">

    {% assign creator = page.video_creator | remove: " " | downcase %}
    {% for post in site.categories['blog'] %}

    {% if post.video_creator == page.video_creator %}

    {% capture thumb_file %}{{ "/images/post-content/" | prepend: site.baseurl }}{{post.video_id | append: "-thumb.jpg"}}{% endcapture %}
    {% capture preview_file %}{{ "/images/post-content/" | prepend: site.baseurl }}{{post.video_id | append: "-preview.jpg"}}{% endcapture %}
    <div class="blogItem"> <!-- eventually use <a style="display:block"> -->
        <div class="item-header">
            <span class="title-style">{{post.video_title}}</span>
            <span class="date-style">{{ post.date | date: "%b " }}{{ post.date | date: "%-d" }}{{ post.date | date: ", %Y" }}</span>
        </div>
        <div class="yt-item">
            <!-- <div class="yt-item-thumb"><img src="https://www.iconsdb.com/icons/preview/white/bird-2-xxl.png"></div> -->
            <table class="yt-table">
                <tr class="yt-row">
                    <td class="yt-cell"><i>by</i> <div class="{{creator}} temp_video_creator"><span>{{post.video_creator}}</span></div></td>

                    <td class="yt-cell-thumb">
                        <a href={{post.video_url}} rel="noopener noreferrer" target="_blank">
                            <div class="this-is-spartaaa" data-defaultimgnr="1" data-img="{{preview_file}}"></div>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
        {% if post.custom_sub == 'ps-scripts' %}
        <a href="{{ post.url }}">{{ post.title }}</a>
        {%endif%}

        <p class="post-meta"></p>

    </div>
    {% endif %}
    {% endfor %}
</div>
